<div class="panel-container">
  <h2>
    <span>Course</span>

    <button id="create-entity" class="btn btn-primary float-right" [routerLink]="['new']">
      <i class="fa fa-plus"></i>
      <span>Create Curse</span>
    </button>
  </h2>
  <hr>

  <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
    <span>No courses found</span>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #procura>
    <button (click)="getVal(procura)" class="btn btn-primary my-2 my-sm-0 text-center" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
  </form>

  <div class="row" >
    <div class="col-md-4 mt-3" *ngFor="let course of courses; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Course Name: {{ course.nomeCurso}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Turn: {{ course.turno }}</h6>
          <p class="card-text">Internship: {{ course.estagio }}</p>
          <a class="card-link" [routerLink]="[course.id, 'view']">View details</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="table-responsive" id="projectsTable" *ngIf="courses?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
      <tr>
        <th scope="col" ><span>ID</span></th>
        <th scope="col" ><span>Course Name </span></th>
        <th scope="col" ><span>Teacher</span></th>
        <th scope="col" ><span>Subject</span></th>
        <th scope="col" ><span>Turn</span></th>
        <th scope="col" class="text-center" ><span>Internship</span></th>
        <th scope="col" ></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of courses ;trackBy: trackId">
        <td><a [routerLink]="[course.id, 'view']">{{ course.id }}</a></td>
        <td>{{ course.nomeCurso }}</td>
        <td>{{ course.teacher }}</td>
        <td>{{ course.subject }}</td>
        <td>{{ course.turno }}</td>
        <td class="text-center">{{ course.estagio }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="[course.id, 'view']" class="btn btn-info btn-sm">
              <i class="fa fa-eye"></i>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="[course.id, 'edit']" class="btn btn-primary btn-sm">
              <i class="fa fa-pencil"></i>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(course)" class="btn btn-danger btn-sm">
              <i class="fa fa-times"></i>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


