<div class="row justify-content-center panel-container">
  <div class="col-8">
    <div *ngIf="course">
      <h2><span>Course</span></h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span >Course Name</span></dt>
        <dd>
          <span>{{ course.nomeCurso }}</span>
        </dd>
        <dt><span>Turn</span></dt>
        <dd>
          <span>{{ course.turno }}</span>
        </dd>
        <dt><span>Internship</span></dt>
        <dd>
          <span>{{ course.estagio }}</span>
        </dd>
        <dt><span>ECTS</span></dt>
        <dd>
          <span>{{ course.ects }}</span>
        </dd>
        <hr>
        <h4><span>Teacher data:</span></h4>
        <hr>
        <dt><span >Teacher Name</span></dt>
        <dd>
          <span>{{ course.teacher }}</span>
        </dd>
        <dt><span >Specialization</span></dt>
        <dd>
          <span>{{ course.specialization }}</span>
        </dd>
        <dt><span >Degree</span></dt>
        <dd>
          <span>{{ course.grau }}</span>
        </dd>
        <dt><span >Discipline</span></dt>
        <dd>
          <span>{{ course.disciplina }}</span>
        </dd>
        <hr>
        <h4><span>Subject data:</span></h4>
        <hr>
        <dt><span >Title Subject</span></dt>
        <dd>
          <span>{{ course.subject }}</span>
        </dd>
        <dt><span >Start Date</span></dt>
        <dd>
          <span>{{ course.dataInicio }}</span>
        </dd>
        <dt><span >End Date</span></dt>
        <dd>
          <span>{{ course.dataFinal }}</span>
        </dd>
        <dt><span >Turn</span></dt>
        <dd>
          <span>{{ course.turno }}</span>
        </dd>


      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
        <i class="fa fa-arrow-left"></i><span>Back</span>
      </button>

    </div>
  </div>
</div>
