<div class="panel-container">
  <h2>
    <span>Manage Certifications</span>

    <button id="create-entity" class="btn btn-primary float-right" [routerLink]="['new']">
      <i class="fa fa-plus"></i>
      <span>Create a Certification</span>
    </button>
  </h2>

  <hr>

  <div class="alert alert-warning" id="no-result" *ngIf="certifications?.length === 0">
    <span>No projects found</span>
  </div>

  <div class="row" >
    <div class="col-md-4 mt-3" *ngFor="let certification of certifications; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ certification.certName}} - {{ certification.issuingOrg }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Certification code: {{ certification.certCode }}</h6>
          <p class="card-text">Date: {{ certification.issuingDate }}, {{ certification.expireDate }}.</p>
          <p class="card-text">Certification expires: {{ certification.expires}}</p>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="table-responsive" id="projectsTable" *ngIf="certifications?.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead class="thead-dark">
      <tr>
        <th scope="col" ><span>ID</span></th>
        <th scope="col" ><span>Certification Name</span></th>
        <th scope="col" ><span>Issuing organization</span></th>
        <th scope="col" ><span>Issuing Date</span></th>
        <th scope="col" ><span>Expire</span></th>
        <th scope="col" >Certification Code</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let certification of certifications ;trackBy: trackId">
        <td><a [routerLink]="[certification.id, 'view']">{{ certification.id }}</a></td>
        <td>{{ certification.certName }}</td>
        <td>{{ certification.issuingOrg }}</td>
        <td>{{ certification.issuingDate }}</td>
        <td>{{ certification.expireDate }}</td>
        <td>{{ certification.certCode}}</td>
        <td class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="[certification.id, 'view']" class="btn btn-info btn-sm">
              <i class="fa fa-eye"></i>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button type="submit" [routerLink]="[certification.id, 'edit']" class="btn btn-primary btn-sm">
              <i class="fa fa-pencil"></i>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button type="submit" (click)="delete(certification)" class="btn btn-danger btn-sm">
              <i class="fa fa-times"></i>
              <span class="d-none d-md-inline">Delete</span>
            </button>

          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


</div>
