<div class="row justify-content-center panel-container">
  <div class="col-8">
    <div *ngIf="subject">
      <h2><span>Subject</span></h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >ID</span></dt>
        <dd>
          <span>{{ subject.id }}</span>
        </dd>
        <dt><span >Student Name</span></dt>
        <dd>
          <span>{{ subject.nomeAluno }}</span>
        </dd>
        <dt><span >Course</span></dt>
        <dd>
          <span>{{ subject.curso }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ subject.email }}</span>
        </dd>
        <dt><span>Turn</span></dt>
        <dd>
          <span>{{ subject.turno }}</span>
        </dd>
        <dt><span >Scholarship</span></dt>
        <dd>
          <span>{{ subject.bolsa }}</span>
        </dd>
        <dt><span >Nationality</span></dt>
        <dd>
          <span>{{ subject.nacionalidade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
        <i class="fa fa-arrow-left"></i><span>Back</span>
      </button>
    </div>
  </div>

  <div class="col-8">

    <div *ngIf="course">
      <h2><span>Subject</span></h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >Associated subject ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span >Course Name</span></dt>
        <dd>
          <span>{{ course.nomeCurso }}</span>
        </dd>
        <dt><span >Student Name</span></dt>
        <dd>
          <span>{{ course.nomeAluno }}</span>
        </dd>
        <dt><span >Title Subject</span></dt>
        <dd>
          <span>{{ course.subject }}</span>
        </dd>
        <dt><span >Scholarship</span></dt>
        <dd>
          <span>{{ course.bolsa }}</span>
        </dd>
        <dt><span >Nationality</span></dt>
        <dd>
          <span>{{ course.nacionalidade }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
        <i class="fa fa-arrow-left"></i><span>Back</span>
      </button>

    </div>
  </div>
</div>


