<div class="panel-container" xmlns:width="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="row my-2">
      <div class="col-lg-4 order-lg-1 text-center">
        <img src="https://instagram.flis6-1.fna.fbcdn.net/v/t51.2885-15/e35/c36.0.1008.1008a/s320x320/74367177_979531522415128_520089306597733329_n.jpg?_nc_ht=instagram.flis6-1.fna.fbcdn.net&_nc_cat=104&_nc_ohc=aPYRr4ry9tAAX_4AFre&oh=9e8d171a65c112e651cc569f1d7157b0&oe=5F1F6A83"
             style="width: 60%; height: auto;" class="mx-auto img-fluid img-circle d-block rounded-circle" alt="Gabriel Souza">
        <h2 class="mt-2">Gabriel Souza</h2>
      </div>
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Messages</a>
          </li>
        </ul>
        <div class="tab-content py-4">
          <div class="tab-pane active" id="profile">
            <h5 class="mb-3">User Profile</h5>
            <div class="row">
              <div class="col-md-6">
                <h6>About</h6>
                <p>
                  Computer Engineering Student, Web Designer
                </p>
                <h6>Hobbies</h6>
                <p>
                  Listening to electronic pop music, running and walking. I love going to the beach.
                </p>
              </div>
              <div class="col-md-6">
                <h6>Skills</h6>
                <button type="button" class="btn btn-outline-secondary">html5</button>
                <button type="button" class="btn btn-outline-secondary">kotlin</button>
                <button type="button" class="btn btn-outline-secondary">angular9</button>
                <button type="button" class="btn btn-outline-secondary">css3</button>
                <button type="button" class="btn btn-outline-secondary">jquery</button>
                <button type="button" class="btn btn-outline-secondary">bootstrap</button>
                <button type="button" class="btn btn-outline-secondary">responsive-design</button>
                <hr>
                <span class="badge badge-primary"><i class="fa fa-user"></i> 1500 Followers</span>
                <span class="badge badge-success"><i class="fa fa-cog"></i> 543 Forks</span>
                <span class="badge badge-danger"><i class="fa fa-eye"></i> 1100 Views</span>
              </div>
            </div>
            <!--/row-->
          </div>
          <div class="tab-pane" id="messages">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>New messages</strong> received in the email
            </div>
            <table class="table table-hover table-striped">
              <tbody>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">2 hrs ago</span> Here is your link to the report.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">3 hrs ago</span> There is a friend request.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">5 hrs ago</span> Your profile was displayed 150 in search results this week.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">9 hrs ago</span> Lusófona university offers you a scholarship.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">Yesterday</span> Proposals for international summer internship.
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row my-2">
      <div class="col-lg-4 order-lg-1 text-center">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQE4B-xddAe__g/profile-displayphoto-shrink_200_200/0?e=1598486400&v=beta&t=WJvhMumCVulDYJdkdOR7_bdWuCMyMlktLZHWYchvVmg"
             style="width: 60%; height: auto;" class="mx-auto img-fluid img-circle d-block rounded-circle" alt="Gabriel Souza">
        <h2 class="mt-2">Joel Bernardino</h2>
      </div>
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="" data-target="#profile2" data-toggle="tab" class="nav-link active">Profile</a>
          </li>
          <li class="nav-item">
            <a href="" data-target="#messages2" data-toggle="tab" class="nav-link">Messages</a>
          </li>
        </ul>
        <div class="tab-content py-4">
          <div class="tab-pane active" id="profile2">
            <h5 class="mb-3">User Profile</h5>
            <div class="row">
              <div class="col-md-6">
                <h6>About</h6>
                <p>
                  Computer Engineering Student, Web Development
                </p>
                <h6>Hobbies</h6>
                <p>
                  Hip Hop and R&B music, on my free time I hang out with my friends and play some soccer with them. Love TV Shows a watching movies.
                </p>
              </div>
              <div class="col-md-6">
                <h6>Skills</h6>
                <button type="button" class="btn btn-outline-secondary">html5</button>
                <button type="button" class="btn btn-outline-secondary">kotlin</button>
                <button type="button" class="btn btn-outline-secondary">angular9</button>
                <button type="button" class="btn btn-outline-secondary">css3</button>
                <button type="button" class="btn btn-outline-secondary">Jquery</button>
                <button type="button" class="btn btn-outline-secondary">bootstrap</button>
                <button type="button" class="btn btn-outline-secondary">Java</button>
                <button type="button" class="btn btn-outline-secondary">C</button>
                <button type="button" class="btn btn-outline-secondary">Visual Basic</button>
                <hr>
                <span class="badge badge-primary"><i class="fa fa-user"></i> 3600 Followers</span>
                <span class="badge badge-success"><i class="fa fa-cog"></i> 843 Forks</span>
                <span class="badge badge-danger"><i class="fa fa-eye"></i> 2745 Views</span>
              </div>
            </div>
            <!--/row-->
          </div>
          <div class="tab-pane" id="messages2">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>New messages</strong> received in the email
            </div>
            <table class="table table-hover table-striped">
              <tbody>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">30 min ago</span> Inês accept your friend request.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">2 hrs ago</span> There is a friend request.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">3 hrs ago</span> Your story line was displayed 230 views before it went down.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">7 hrs ago</span> People you might know.
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">Yesterday</span> Job offer.
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
