<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="mt-5 jumbotron">
    <div class="container">
      <p class="estilo"><strong>Engenharia Informática</strong></p>
   </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4 teste">
        <h2>Teachers</h2>

          <button class="btn btn-primary" role="button" (click)="toggle1()">{{buttonName1}} »</button>

          <ng-container >
            <div *ngIf="show1" style="margin-top : 5%; text-align: left;">

              <div class="alert alert-warning" id="no-results" *ngIf="courses?.length === 0">
                <span>No teacher with course create found</span>
              </div>

              <div *ngIf="courses?.length > 0">
                <h6>Last teachers associated with a course:</h6>
              <table class="table table-borderless table-active">

                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Teacher Name</th>
                  <th scope="col">Course</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of courses; let i = index">
                  <th scope="row">{{ teacher.teacher }}</th>
                  <th scope="row" >{{ teacher.nomeCurso }}</th>
                </tr>
                </tbody>
              </table>
              </div>

              <hr>

              <div class="alert alert-warning" id="no-result" *ngIf="teachers?.length === 0">
                <span>No teacher create found</span>
              </div>
              <div *ngIf="teachers?.length > 0">
                <h6>Last teachers created:</h6>
                <table class="table table-borderless table-active">
                  <thead class="thead-dark">
                  <tr>
                    <th scope="col" colspan="1">Teacher Name</th>
                    <th scope="col">Degree</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let teacher of teachers; let i = index">
                    <th scope="row">{{ teacher.nomeTeacher }}</th>
                    <th scope="row" >{{ teacher.grau }}</th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </ng-container>
      </div>
      <br>
      <div class="col-md-4 teste">
        <h2>Courses</h2>

        <button class="btn btn-primary" role="button" (click)="toggle()">{{buttonName}} »</button>

        <ng-container >
          <div *ngIf="show" style="margin-top : 5%; text-align: left;">

            <div class="alert alert-warning" *ngIf="courses?.length === 0">
              <span>No courses create found</span>
            </div>
            <div *ngIf="courses?.length > 0">
              <h6>Last courses created:</h6>
            <table class="table table-borderless table-active">
              <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="1">Course Name</th>
                <th scope="col">Turn</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let course of courses|slice:0:3; let i = index">
                <th scope="row">{{ course.nomeCurso }}</th>
                <th scope="row" >{{ course.turno }}</th>
                <th scope="row" >{{ course.date| date: 'short' }}</th>
              </tr>
              </tbody>
            </table>
            </div>
          </div>
        </ng-container>
      </div>
      <br>
      <div class="col-md-4 teste">
        <h2>Subjects</h2>
        <button class="btn btn-primary" role="button" (click)="toggle2()">{{buttonName2}} »</button>

        <ng-container >
          <div *ngIf="show2" style="margin-top : 5%; text-align: left;">


            <div class="alert alert-warning" *ngIf="courses?.length === 0">
              <span>No subject with course create found</span>
            </div>

            <div *ngIf="courses?.length > 0">
              <h6>Last subjects associated with a course:</h6>
              <table class="table table-borderless table-active">

                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Student Name</th>
                  <th scope="col">Course</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let subject of courses; let i = index" >
                  <th scope="row">{{ subject.nomeAluno }}</th>
                  <th scope="row" >{{ subject.nomeCurso }}</th>

                </tr>
                </tbody>
              </table>
            </div>

            <hr>

            <div class="alert alert-warning" *ngIf="subjects?.length === 0">
              <span>No subject create found</span>
            </div>
            <div *ngIf="subjects?.length > 0">
              <h6>Last subjects created:</h6>
            <table class="table table-borderless table-active">
              <thead class="thead-dark">
              <tr>
                <th scope="col" colspan="1">Student Name</th>
                <th scope="col">Scholarship</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let subject of subjects; let i = index">
                <th scope="row">{{ subject.nomeAluno }}</th>
                <th scope="row" >{{ subject.bolsa }}</th>
              </tr>
              </tbody>
            </table>
           </div>
          </div>
        </ng-container>
       </div>
    </div>

    <br>

  </div> <!-- /container -->

</main>
