<main role="main">
  <div class="mt-5 jumbotron">
  </div>
  <div class="container-fluid">
    <div class="row">

      <div id ="curso"class="col-md-4 margem">
        <h2 class="text-center"><img src="https://images.vexels.com/media/users/3/157555/isolated/preview/2b48b29abd18febe3b1f92a85913ce39---cone-de-livro-simples-by-vexels.png" alt="Course">  Courses</h2>
        <div>

          Conhecimento é um património que não pode ser retirado. Comece de onde você está, use o que você tiver e faça o que você puder
          Pois cada minuto de estudo é um passo à frente no futuro!

        </div>
        <button class="btn btn-primary botao" role="button" (click)="toggle()">{{buttonName}} »</button>
        <ng-container >
          <div *ngIf="show" style="margin-top : 5%; text-align: left;">

            <div class="alert alert-warning" *ngIf="courses?.length === 0">
              <span>No courses create found</span>
            </div>
            <div *ngIf="courses?.length > 0">
              <h6>Last courses created:</h6>
              <table class="table table-borderless table-active">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Course Name</th>
                  <th scope="col">Turn</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let course of courses | slice:0:5 ; let i = index">
                  <th scope="row">{{ course.nomeCurso }}</th>
                  <th scope="row" >{{ course.turno }}</th>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
          </div>
        </ng-container>
      </div>
      <br>
      <div id="teacher" class="col-md-4 margem">
        <h2 class="text-center">
          <img src="https://cdn4.iconfinder.com/data/icons/education-training-1/33/professor-3-512.png" alt="Teacher">  Teachers</h2>
        <div>

          Todo o professor é um eterno aluno, logo ninguém é tão grande que não possa aprender, nem tão pequeno que não possa ensinar.
          O conhecimento vem do seu professor. Sabedoria, do seu interior.

        </div>
        <button class="btn btn-primary botao" role="button" (click)="toggle1()">{{buttonName1}} »</button>
        <ng-container >
          <div *ngIf="show1" style="margin-top : 5%; text-align: left;">
            <div class="alert alert-warning" id="no-results" *ngIf="courses?.length === 0">
              <span>No teacher with course create found</span>
            </div>
            <div *ngIf="courses?.length > 0">
              <h6>Last teachers associated with a course:</h6>
              <table class="table table-borderless table-active">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Teacher Name</th>
                  <th scope="col">Course</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of courses | slice:0:5 ; let i = index">
                  <th scope="row">{{ teacher.teacher }}</th>
                  <th scope="row" >{{ teacher.nomeCurso }}</th>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="alert alert-warning" id="no-result" *ngIf="teachers?.length === 0">
              <span>No teacher create found</span>
            </div>
            <div *ngIf="teachers?.length > 0">
              <h6>Last teachers created:</h6>
              <table class="table table-borderless table-active">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Teacher Name</th>
                  <th scope="col">Degree</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teacher of teachers | slice:0:5 ; let i = index">
                  <th scope="row">{{ teacher.nomeTeacher }}</th>
                  <th scope="row" >{{ teacher.grau }}</th>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
          </div>
        </ng-container>
      </div>
      <br>
      <div id ="subject" class="col-md-4 margem">
        <h2 class="text-center "><img src="https://image.flaticon.com/icons/png/512/43/43067.png" alt="Subject">  Subjects</h2>
        <div>
          Estude, enquanto eles dormem. Trabalhe, enquanto eles se divertem. Lute, enquanto eles descansam. Depois viva o que eles sempre sonharam!
          Sucesso é a soma de pequenos esforços repetidos dia após dia

        </div>
        <button class="btn btn-primary botao" role="button" (click)="toggle2()">{{buttonName2}} »</button>
        <ng-container >
          <div *ngIf="show2" style="margin-top : 5%; text-align: left;">
            <div class="alert alert-warning" *ngIf="courses?.length === 0">
              <span>No subject with course create found</span>
            </div>
            <div *ngIf="courses?.length > 0">
              <h6>Last subjects associated with a course:</h6>
              <table class="table table-borderless table-active">

                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Student Name</th>
                  <th scope="col">Course</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let subject of courses | slice:0:5 ; let i = index" >
                  <th scope="row">{{ subject.nomeAluno }}</th>
                  <th scope="row" >{{ subject.nomeCurso }}</th>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
            <div class="alert alert-warning" *ngIf="subjects?.length === 0">
              <span>No subject create found</span>
            </div>
            <div *ngIf="subjects?.length > 0">
              <h6>Last subjects created:</h6>
              <table class="table table-borderless table-active">
                <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="1">Student Name</th>
                  <th scope="col">Scholarship</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let subject of subjects | slice:0:5 ; let i = index">
                  <th scope="row">{{ subject.nomeAluno }}</th>
                  <th scope="row" >{{ subject.bolsa }}</th>
                </tr>
                </tbody>
              </table>
            </div>
            <hr>
          </div>
        </ng-container>
      </div>
    </div>
    <br>
  </div>
</main>
