.jumbotron {

  background: url(EI.jpg);
  background-size: cover;
  width: 120%;
  height: 60vh;
}
.estilo{
  color: white;
  font-style: italic;
  padding-top: 4%;
  padding-right: 1%;
  padding-left: 1%;
  font-size: 60px;
  text-shadow: #000 2px 3px 2px;
}
.teste {
  padding-bottom: 3%;
}





